# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
fast-snp

#Saved data
saves/*
new_saves/*
outputs/*
cryptic_fastas
*.tar.gz

#Build data
build/*

#Keep the env file out
.env

*.txt

!**/.gitkeep
*massif*
test/*
.pyetst_cache